doctype html
html
  head
    title KINO Login
    script(src="https://unpkg.com/@tailwindcss/browser@4" defer)
    script(src="/static/login.js", defer)
    body(class="flex justify-center items-center min-h-screen bg-neutral-900")
    .w-96.bg-neutral-800.rounded-lg.p-8.shadow-lg
      .flex.justify-center
        img.w-24.h-auto(src="/movies/img/Kino - koncept.png", alt="KINO Logo")
      
      h2.text-white.text-xl.font-semibold.text-center.my-8 Logga in eller bli medlem
      
      label.text-white.mt-4(block) E-postadress
      input#email.w-full.p-2.mt-1.rounded.bg-neutral-900.border.border-neutral-100.text-white.mb-4(type="email" placeholder="Din e-postadress")
      
      label.text-white.mt-4(block) Lösenord
      input#password.w-full.p-2.mt-1.rounded.bg-neutral-900.border.border-neutral-100.text-white.mb-4(type="password" placeholder="Ditt lösenord")

      p#error-message.text-red-500.text-sm.text-right.hidden

      button#login-btn.w-full.mt-4.bg-red-500.text-white.py-2.rounded-full.text-lg.font-semibold Logga in
      button#register.btn.w-full.mt-3.border-2.border-red-500.text-white.py-2.rounded-full.text-lg.font-semibold Bli medlem
      button#cancel.btn.w-full.mt-3.text-white.py-2.rounded-lg.text-sm Avbryt